.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.flex-column {
    flex-direction: column;
}

.nav-item-child {
    padding: 15px;
    display: inherit;
    color: black;
}
.flex-end {
    justify-content: flex-end;
}
.logo {
    height: 100%;
}
.navbar {
    background-color: gainsboro;
    align-items: center;
    padding: 0 2em;
}
.main-container {
    height: calc(100vh - 19vh);
    border-bottom: 1px solid gainsboro;
    padding: 2em;
}
.sidebar {
    background: white;
    width: 15%;
    border-right: 1px dotted gainsboro;
}
.footerSection {
    padding: 2em;
}
.main-content {
    width: 100%;
    padding: 2em;
}